@import url(./root.css);
@font-face {
    font-family: sans;
    src: url(../font/IRANSans.ttf);
}

body{
    margin: 0;
}

.box-header {
    justify-content: space-between;
    display: flex;
}

.open-offcanvas, .offcanvas-menu
,.header-responsiv,.info{
    display: none;
}
/* item left */
nav {
    direction: rtl;
}
nav li {
    margin-right: 0.31rem;
    font-family: sans;
    font-size: var(--font-size-14);
}
nav li a {
    text-decoration: none;
    color: var(--black);
    font-family: sans;
    font-size: var(--font-size-14);
}
/* slider */

.slider{
    /* border: 1px solid var(--border-color-black); */
    width: 100%;
    height: 25rem;
    border-radius: 0.5rem;
}
.mySwiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.swiper-slide img {
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* slider */

/* crash */
.mistake {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.icon-mistake {
    margin: 0.81rem 1.62rem;
}
.item-mistake{
    border: 1px solid var(--bg-color-purple);
    border-radius: 0.4rem;
    font-size: var(--font-size-16);
    font-weight: 500;
    font-family: sans;
}
.item-name-home {
    font-family: sans;
    font-size: var(--font-size-18);
    font-weight: 900;
    line-height: 40px;
    color: var(--text-color-purple);
}

/* crash */

/* options */
.options {
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 5rem;
    /* margin-left: 158px; */
}

.option-p {
    font-family: sans;
    font-size: var(--font-size-16);
    font-weight: 900;
    text-align: right;
    color: var(--text-color-purple);
    margin-bottom: 0;
}

.card-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
    grid-row-gap: 2.5rem;
    grid-column-gap: 6.868rem;
}

#toggleButton {
    display: none;
}

.it-option {
    border-right: 1px solid var(--border-color-purple);
    width: 8.75rem;
    font-family: sans;
    font-size: var(--font-size-16);
    font-weight: 900;
    padding-right: 1rem;
}

/* options */

/* map */
.box-map {
    /* border: 1px solid black; */
    margin-top: 5rem;
}

.box-map p {
    font-family: sans;
    font-size: var(--font-size-16);
    font-weight: 900;
    color: var(--text-color-purple);
    margin-bottom: 0;
}

.maps {
    border: 1px solid var(--border-color-black);
    height: 16.25rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-family: sans;
    font-size: var(--font-size-40);
    text-align: center;
    line-height: 250px;
}

.card-info-btn {
    display: none;
}

/* map */

/* descript */
.descript {
    /* border: 1px solid black; */
    margin-top: 5rem;
}

.p-titr {
    font-family: sans;
    font-size: var(--font-size-16);
    font-weight: 900;
    color: var(--text-color-purple);
    margin-bottom: 0;
}

.p-descript {
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 500;
    margin-top: 2rem;
    color: var(--text-color-black);
    margin-bottom: 0;
}

/* descript */

/* proposal */
.proposal {
    /* border: 1px solid black; */
    margin-top: 5rem;
    font-family: sans;
    font-size: 1rem;
    font-weight: 900;
    color: var(--text-color-purple);
    margin-bottom: 0;
}

.item-proposal {
    margin-top: 1.5rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.25rem;
}

.it-proposal {
    /* border: 1px solid black; */
    width: 100%;
    background-image: url(../image/Arrow\ -\ Left.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: bottom left;
}

.img-ads {
    width: 100%;
}

.it-proposal p {
    margin-top: 0.5rem;
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 700;
}

.it-proposal h5 {
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 500;
    margin: 0;
    direction: rtl;
    color: var(--text-color-black);
}

/* proposal */
/* item left */

/* header */
.btn-open-menu,
.overlay,
.c-main-responsiv,
.footer-res {
    display: none;
}

/*  */
.c-header {
    /* border: 1px solid var(--border-color-black); */
    background-color: rgba(255, 255, 255, 0.834);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: 0.3s;
}

.header {
    display: flex;
    max-width: 84rem;
    padding: 0 1rem;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid var(--border-color-black); */
}

.btn-open-menu,
.overlay {
    display: none;
}

.header-btns,
.header-list {
    /* border: 1px solid var(--border-color-black); */
}

.header-btns {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
}

.btns {
    display: flex;
    grid-gap: 0.5rem;
}

.btns button {
    font-family: sans;
    font-size: var(--font-size-12);
    font-weight: bold;
    border-radius: 8px;
    /* padding: 0.2rem 1rem; */
    cursor: pointer;
}

.btnsignin {
    border:1px solid var(--border-color-purple);
    background: none;
    color: var(--text-color-purple);
    transition: 0.2s;
    width: 6rem;
    display: none;
}
#profile{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: block;
}

.modal{
    /* border: 1px solid var(--border-color-black); */
    box-shadow: 0 0 0.5rem var(--border-color-ccc);
    border-radius: 0.4rem;
    width: 12rem;
    position: fixed;
    display: none;
    cursor: pointer;
    top: 4rem;
    margin-right: -4rem;
    z-index: 1000;
    padding: 0.3rem;
    background: var(--bg-color-white);
}
.modal.open{
    display: block;
}
.profile{
    display: flex;
    border-bottom: 0.06rem solid var(--border-color-ccc);
}
.profile-img{
    padding: 0.3rem 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    /* border: 1px solid var(--border-color-black); */
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-name{
    /* border: 1px solid var(--border-color-black); */
}
.profile-name p{
    font-family: sans;
    font-size: var(--font-size-16);
    margin: 0;
}
.profile-name span{
    font-family: sans;
    font-size: var(--font-size-14);
    color: var(--text-color-ccc);
    margin: 0;
}
.modal-list{
    margin: 0.5rem 0;
}
.modal-list-ul-one{
    border-bottom: 0.06rem solid var(--border-color-black);
    margin: 0;
    padding: 0 0 0.5rem;
    display: grid;
    grid-gap: 0.3rem;
}
.modal-list li{
    /* border: 1px solid var(--border-color-black); */
    color: var(--text-color-ccc);
    display: flex;
    cursor: pointer;
    font-family: sans;
    padding: 0.5rem;    
    border-radius: 0.4rem;
}
.modal-list li a{
    text-decoration: none;
    color: var(--text-color-ccc);
}
.modal-list li:hover{
    background: var(--bg-color-purple-2);
}
.modal-list p{
    font-size: var(--font-size-14);
    margin: -0.1rem 0.5rem 0;
}
.modal-list-ul-two{
    border-bottom: 0.06rem solid var(--border-color-black);
    margin: 0;
    padding: 0.5rem 0;
    display: grid;
    grid-gap: 0.3rem;
}
.modal-list-ul-three{
    border: none;
    margin: 0;
    padding: 0.5rem 0 0;
    display: grid;
    grid-gap: 0.3rem;
}

.btnsignin span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.btnsignin span:after {
    font-size: var(--font-size-18);
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -0.3rem;
    right: -30px;
    transition: 0.5s;
}  
.btnsignin:hover span {
    padding-right: 25px;
}  
.btnsignin:hover span:after {
    opacity: 1;
    right: 0.3rem;
}

.btnsentad {
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--btn-bg-purple);
    color: var(--text-color-white);
    transition: 0.3s;
    width: 6rem;
}
.btnsentad:hover {
    border:1px solid var(--border-color-purple);
    background-color: var(--bg-color-white);
    color: var(--text-color-purple);
}


.list-btn ul {
    /* border: 1px solid var(--border-color-black); */
    display: flex;
    margin: 0.6rem 0.5rem;
    padding: 0;
    grid-gap: 0.8rem;
}

.list-btn ul li {
    cursor: pointer;
    list-style: none;
    color: var(--text-color-ccc);
}
.badge {
    display: inline-block;
    border-radius: 10px;    
    background-color: none;
    color: var(--btn-bg-purple);
    font-size: 16px;
    position: relative;
}
.badge::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.number {
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    padding: 2px 5px;
    background-color: var(--btn-color-red);
    color: var(--btn-color-white);
    font-weight: bold;
    font-size: var(--font-size-11);
    border-radius: 20%;
}
.health{
    color: var(--btn-color-red);
}
.bell ,.comment, .bars{
    color: var(--btn-bg-purple);
}
.collapse-content,
.collapse-content-two,
.collapse-content-three,
.collapse-content-four,
.collapse-content-five,
.collapse-content-six {
    display: none;
    position: absolute;
    background-color: var(--bg-color-white);
    box-shadow: 0 0.5rem 0.6rem var(--border-color-ccc);
    width: 100%;
    margin-top: -0.1rem !important;
    display: none;
    z-index: 3;
}
.collapse-header,
.collapse-header-two,
.collapse-header-three,
.collapse-header-four,
.collapse-header-five,
.collapse-header-six,
.collapse-header-seven{
    margin: 0;
    padding: 0;
    font-family: sans;
    height: 2.3rem !important;
    cursor: pointer;
    font-size: var(--font-size-14);
    display: inline-block;
    position: relative;
}
.collapse-header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}   
.collapse-header:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.collapse:hover .collapse-content {
    display: flex; 
}
.collapse-content{
    right: 0;
    left: 0;
    margin-top: 0 !important;
}
.it-coll-one{
    padding: 2rem 2rem 2rem 5rem ;
}
.it-colltwo-one,
.it-collthree-one,
.it-collfour-one,
.it-collfive-one,
.it-collsix-one{
    padding: 3rem 2rem 2rem 5rem;
}
.it-coll-one h2{
    font-family: sans;
    cursor: pointer;
    font-size: var(--font-size-18);
}
.it-coll-one h2:hover{
    color: var(--text-color-purple);
}
.ul-coll{
    display: grid;
    grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li-coll{
    font-family: sans;
    cursor: pointer;
    font-size: var(--font-size-14);
    color: var(--text-color-ccc);
}
.li-coll:hover{
    color: var(--text-color-purple);
}

/*  */
.it-coll-two {
    padding: 2rem 2rem 2rem 5rem;
}

.it-coll-two h2 {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-18);
}

.it-coll-two h2:hover {
    color: var(--text-color-purple);
}

.it-coll-two ul {
    display: grid !important;
}

.it-coll-two ul li {
    cursor: pointer;
    font-size: var(--font-size-14);
    color: var(--text-color-ccc);
}

.it-coll-two ul li:hover {
    color: var(--text-color-purple);
}

.it-coll-three,
.it-colltwo-three,
.it-collthree-three,
.it-collfour-three,
.it-collfive-three,
.it-collsix-three {
    padding: 3rem;
    display: grid !important;
    height: max-content;
}

.it-coll-three img {
    width: 300px;
    margin: 0;
    padding: 0;
    height: 170px;
    border-radius: 8px;
}

/*  */

.collapse-two:hover .collapse-content-two {
    display: flex;
}

.collapse-content-two {
    right: 0;
    left: 0;
}

.collapse-header-two::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.collapse-header-two:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.it-colltwo-one ul {
    display: grid !important;
    cursor: pointer;
}

.it-colltwo-one ul li:hover {
    color: var(--text-color-purple);
}

.it-colltwo-two,
.it-collthree-two,
.it-collfour-two,
.it-collfive-two,
.it-collsix-two {
    padding: 3rem 2rem 2rem 5rem;
}

.it-colltwo-two h2 {
    margin: 0;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-18);
}

.it-colltwo-two h3 {
    margin: 0.5rem 0 0 0;
    cursor: pointer;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-colltwo-two h3:hover {
    color: var(--text-color-purple);
}

.it-colltwo-two ul {
    display: grid !important;
    margin-top: 0rem !important;
}

.it-colltwo-two ul li {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-colltwo-two ul li:hover {
    color: var(--text-color-purple);
}

.it-colltwo-three img {
    width: 300px;
    margin: 0;
    padding: 0;
    height: 170px;
    border-radius: 8px;
}

/*  */

.collapse-three:hover .collapse-content-three {
    display: flex;
}

.collapse-content-three {
    right: 0;
    left: 0;
}

.collapse-header-three::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.collapse-header-three:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.it-collthree-one ul {
    display: grid !important;
    cursor: pointer;
}

.it-collthree-one ul li:hover {
    color: var(--text-color-purple);
}

.it-collthree-two h2 {
    margin: 0;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-18);
}

.it-collthree-two h3 {
    margin: 0.5rem 0 0 0;
    cursor: pointer;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collthree-two h3:hover {
    color: var(--text-color-purple);
}

.it-collthree-two ul {
    display: grid !important;
    margin-top: 1rem !important;
}

.it-collthree-two ul li {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collthree-two ul li:hover {
    color: var(--text-color-purple);
}

.it-collthree-three img {
    width: 300px;
    margin: 0;
    padding: 0;
    height: 170px;
    border-radius: 8px;
}

/*  */

.collapse-four:hover .collapse-content-four {
    display: flex;
}

.collapse-content-four {
    right: 0;
    left: 0;
}

.collapse-header-four::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.collapse-header-four:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.it-collfour-one ul {
    display: grid !important;
    cursor: pointer;
}

.it-collfour-one ul li:hover {
    color: var(--text-color-purple);
}

.it-collfour-two h2 {
    margin: 0;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-18);
}

.it-collfour-two h3 {
    margin: 0.5rem 0 0 0;
    cursor: pointer;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collfour-two h3:hover {
    color: var(--text-color-purple);
}

.it-collfour-two ul {
    display: grid !important;
    margin-top: 1rem !important;
}

.it-collfour-two ul li {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collfour-two ul li:hover {
    color: var(--text-color-purple);
}

.btn-collfour-three {
    cursor: pointer;
    border: none;
    background-color: var(--btn-color-white);
    color: var(--text-color-purple);
    border-radius: 8px;
    width: 50%;
    height: 30px;
    margin: -3rem 1rem;
    font-family: sans;
    font-size: var(--font-size-12);
}

.it-collfour-three img {
    width: 300px;
    margin: 0;
    padding: 0;
    height: 170px;
    border-radius: 8px;
}

/*  */

.collapse-five:hover .collapse-content-five {
    display: flex;
}

.collapse-content-five {
    right: 0;
    left: 0;
}

.collapse-header-five::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.collapse-header-five:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.it-collfive-one h2 {
    margin: 0 0 0.5rem 0;
    font-size: var(--font-size-18);
    padding: 0;
}

.it-collfive-one ul {
    display: grid !important;
    cursor: pointer;
}

.it-collfive-one ul li {
    font-size: var(--font-size-14);
}

.it-collfive-one ul li:hover {
    color: var(--text-color-purple);
}

.it-collfive-two h2 {
    margin: 0 0 0 0;
    cursor: pointer;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collfive-two ul {
    display: grid !important;
    margin-top: 0.5rem !important;
}

.it-collfive-two ul li {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-14);
}

.it-collfive-two ul li:hover {
    color: var(--text-color-purple);
}

.it-collfive-three h2 {
    margin: 0;
    padding: 0.3rem;
    font-family: sans;
    font-size: var(--font-size-16);
}

/*  */

.collapse-six:hover .collapse-content-six {
    display: flex;
}

.collapse-content-six {
    right: 0;
    left: 0;
}

.collapse-header-six::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--border-color-purple);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.collapse-header-six:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.it-collsix-one h2 {
    margin: 0 0 0.5rem 0;
    font-size: var(--font-size-18);
    padding: 0;
}

.it-collsix-one ul {
    display: grid !important;
    cursor: pointer;
}

.it-collsix-one ul li {
    font-size: var(--font-size-14);
}

.it-collsix-one ul li:hover {
    color: var(--text-color-purple);
}

.it-collsix-two h2 {
    margin: 0 0 0 0;
    cursor: pointer;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-16);
}

.it-collsix-two ul {
    display: grid !important;
    margin-top: 0.5rem !important;
}

.it-collsix-two ul li {
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-14);
}

.it-collsix-two ul li:hover {
    color: var(--text-color-purple);
}

.header-list {
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    /* border: 1px solid var(--border-color-black); */
}

.logo {
    height: max-content;
    padding: 0.5rem 1rem;
    width: 5rem;
    /* border: 1px solid var(--border-color-black); */
}

.list-header {
    height: max-content;
    margin: 0.3rem 0;
    /* border: 1px solid var(--border-color-black); */
}

.ul-list-header {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 2.3rem !important;
    grid-gap: 0.8rem;
}

.li-list-header {
    font-family: sans;
    height: 2.3rem !important;
}


/* header */

/* container content */
.breadcrumb {
    list-style-type: none;
    margin: 0.62rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .breadcrumb i{
    color: var(--text-color-purple);
  }
  .breadcrumb li {
    display: inline;
  }
  .breadcrumb li::after {
    content: ">";
    padding: 0 0.62rem;
    color: gray;
  }
  .breadcrumb li:last-child::after {
    content: none;
  }
  .breadcrumb li a {
    font-family: sans;
    font-size: var(--font-size-14);
    color: var(--text-color-black);
    text-decoration: none;
  }
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
/* box-profile */
.main {
    display: flex;
    margin:4rem auto;
    justify-content: center;
    grid-gap: 2.18rem;
    max-width: 84rem;
    padding: 0 1rem;
}

.item-left {
    width: 76%;
}

.item-right {
    width: 17.5rem;
}

.sticky {
    position: sticky;
    top: 4rem;
    bottom: 0;
}

.inset-right {
    border: 1px solid var(--border-color-purple);
    border-radius: 1rem;
}

.img-profile {
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    padding-top: 0;
}

.box-profile {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.item-profile p {
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 700;
    margin: 0.2rem 0 0 0;
}

/* box-profile */

/* call */
.call {
    /* border: 1px solid black; */
    margin: 16px;
    display: grid;
    grid-gap: 0.5rem;
}

.item-call-number button{
    /* border: 1px solid black;  */
    text-align: center;
    background-color: var(--bg-color-purple);
    color: var(--text-color-white);
    border: none;
    width: 100%;
    font-family: sans;
    padding: 0.5rem;
    font-size: var(--font-size-14);
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.5rem;
}
.item-call-number span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.item-call-number span:after {
    content: '\260E';
    position: absolute;
    font-size: var(--font-size-20);
    opacity: 0;
    top: -0.2rem;
    right: -20px;
    transition: 0.5s;
}
.item-call-number:hover span {
    padding-right: 25px;
}
.item-call-number:hover span:after {
    opacity: 1;
    right: 0;
}

.item-call-whatsapp button{
    border: 1px solid var(--border-color-purple);
    background: var(--bg-color-white);
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 0.5rem;
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 700;
    border-radius: 0.5rem;
    color: var(--text-color-purple);
    transition: 0.2s;
}
.item-call-whatsapp button:hover{
    background: var(--bg-color-purple);
    color: var(--text-color-white);
}
.item-call-mark {
    /* border: 1px solid black; */
    margin-top: 1rem;
    display: flex;
    grid-gap: 0.5rem;
    justify-content: center;
}
.fa-bookmark,
.fa-share-alt{
    cursor: pointer;
    color: var(--text-color-ccc);
}
.clicked-state{
    color: var(--text-color-black);
}
.icon-mark {
    font-family: sans;
    font-weight: 700;
    font-size: var(--font-size-14);
    margin-top: 0;
    text-align: center;
    color: var(--text-color-ccc);
}
/* call */

/* price location */
.price-location {
    border: 1px solid var(--border-color-purple);
    border-radius: 1rem;
    margin-top: 1rem;
}

.inset-p-l {
    /* border: 1px solid black; */
    margin: 1rem 1rem 1rem 2rem;
}

.price p {
    font-family: sans;
    font-size: var(--font-size-18);
    font-weight: 900;
    color: var(--text-color-purple);
}

.icon-location {
    font-family: sans;
    font-weight: 700;
    font-size: var(--font-size-14);
    margin: 0;
    color: var(--black);
}

/* price location */

/* footer right */
.footer-right {
    /* border: 1px solid black; */
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    grid-gap: 1rem;
}

.items {
    width: 30%;
    font-family: sans;
    border-radius: 0.5rem;
    font-size: var(--font-size-14);
    font-weight: 500;
    background-color: var(--text-color-black);
    text-align: center;
    padding: 2.5px 5px;
    color: var(--text-color-white);
}
/* footer right */
/* container content */

/* container footer */
.c-footer{
    /* border: 1px solid var(--border-color-black); */
    background-color: var(--bg-color-footer);
    display: grid;
}
.footer{
    /* border: 1px solid var(--border-color-black); */
    max-width: 84rem;
    padding: 0 1rem;
    margin:1rem auto;
}
.footer p{
    border-bottom: 1px solid var(--border-color-ccc);
    font-family: sans;
    padding: 0 0 1rem 0;
    font-size: var(--font-size-12);
    color: var(--text-color-ccc);
}
.list-footer{
    border-bottom: 1px solid var(--border-color-ccc);
    display: flex;
    grid-column-gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
.it-footer{
    color: var(--text-color-ccc);
    /* border: 1px solid var(--border-color-black); */
    font-family: sans;
    width: max-content;
    font-size: var(--font-size-12);
}
.info-web{
    /* border: 1px solid var(--border-color-black); */
    display: flex;
    grid-gap: 10rem;
    margin: 1rem 0;
}
.web-aplication, .i-web{
    /* border: 1px solid var(--border-color-black); */
}
.web-aplication{
    display: flex;
    grid-gap:1rem;
}
.app-store{
    /* border: 1px solid var(--border-color-black); */
    background-image: url(../image/apple-store.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 9.37rem;
    height: 2.5rem;
}
.google-play{
    /* border: 1px solid var(--border-color-black); */
    background-image: url(../image/google-play.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 9.37rem;
    height: 2.5rem;
}
.it-app p{
    margin: 0;
    border: none;
    padding: 0.7rem 0;
}
.i-web{
    width: 25rem;
}
.i-web p{
    border: none;
    margin: 0;
    padding: 0;
}
.c-p-footer{
    display: flex;
    /* border: 1px solid var(--border-color-black); */
    grid-gap: 10rem;
}
.p-footer {
    margin: 0.5rem 0;
    /* border: 1px solid var(--border-color-black); */
}
.p-footer p{
    margin: 0;
    padding: 0;
    font-family: sans;
    font-size: var(--font-size-12);
    border: none;
}
/*  */

.show-phonenumber{
    /* border: 1px solid var(--border-color-black); */
    background-color: rgba(58, 58, 58, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.box-phonenumber{
    /* border: 1px solid var(--border-color-black); */
    box-shadow: 0 0 5px var(--border-color-ccc);
    background: var(--bg-color-white);
    border-radius: 8px;
    padding: 1rem;
    width: 18rem;
}

.box-phonenumber button{
    margin: 0.5rem 0 0 0;
    border-radius: 0.5rem;
    padding: 0.2rem 1.5rem;
    border: none;
    font-family: sans;
    display: flex;
    justify-content: center;
    margin: auto;
    background: var(--btn-bg-purple);
    font-size: var(--font-size-14);
}
.box-phonenumber button a{
    color: var(--text-color-white);
    text-decoration: none;
}
.box-phonenumber span{
    font-family: sans;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0 0;
    font-size: var(--font-size-16);
}
.box-phonenumber i{
    color: var(--btn-bg-ccc);
}

@media only screen and (max-width:1111px) {
    .open-offcanvas{
        display: block;
    }
    .open-offcanvas i{
        width: max-content;
        font-size: var(--font-size-18);
        margin: 0.8rem 0 0;
        padding: 0;
        color: var(--text-color-black);
    }
    .offcanvas-menu{
        position: fixed;
        top: 0;
        z-index: 3000;
        overflow-y: scroll;
        overflow-x: hidden;
        right: 0;
        background: var(--bg-color-white);
        box-shadow: -0.5rem 0 2rem var(--border-color-ccc);
        width: 15rem;
        height: 100%;
        display: grid;
        align-items: center;
        transform: translateX(120%);
        transition: all 0.4s ease;
    }
    .offcanvas-menu.active{
        transform: translateX(0);
    }
    .offcanvas-menu ul{
        margin: -10rem 0 0;
        padding: 0 0 0.5rem;
        width: 100%;
        top: 0;
    }
    .offcanvas-menu ul li{
        display: flex;
        border-radius: 0.4rem;
        cursor: pointer;
        list-style: none;
    }
    .offcanvas-menu ul li i{
        color: var(--text-color-purple);
        font-size: var(--font-size-20);
        margin: 0.8rem !important;
        padding: 0 !important;
        width: 1.5rem !important;
    }
    .offcanvas-menu ul li:hover{
        border-radius: 0.4rem;
        background: var(--bg-color-purple-2);
    }
    .offcanvas-menu ul li .li-p{
        padding: 0.6rem 0;
        font-size: var(--font-size-14);
        font-family: sans;
    }
    .offcanvas-menu ul li a{
        font-size: var(--font-size-12);
        font-family: sans;
        color: var(--text-color-black);
        display: block;
        text-decoration: none;
    }
    .closebtn{
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: var(--font-size-16);
        color: var(--text-color-black) !important;
    }

    /* header-responsive */
    .box-header {
        display: none;
    }

    .header-responsiv {
        justify-content: space-between;
        display: flex;
        /* display: block; */
    }

    .header-responsiv img {
        width: 1.25rem;
    }

    .header-responsiv p {
        font-family: sans;
        font-size: var(--font-size-24);
        font-weight: 900;
        text-align: center;
        margin-top: -0.31rem;
        color: #5F5D70;
    }

    /* header-responsive */

    .accordion span {
        font-size: var(--font-size-24);
        margin-left: 3rem;
        color: var(--purple);
    }

    /* menu-offcanvas responsiv */
    .item-right {
        display: none;
    }

    .item-left {
        width: 100%;
    }

    /* info */
    .info {
        display: block;
        /* border: 1px solid black; */
        margin: 0.87rem 0 0 0;
        width: max-content;
    }

    .card-info {
        /* justify-content: start; */
        display: grid;
    }
    .card-information {
        grid-column-gap: 0.93rem;
        display: flex;
        border-bottom: 1px solid #ccc;
    }

    .card-info-price {
        direction: rtl;
    }

    .card-info p {
        font-family: sans;
        font-size: var(--font-size-18);
    }

    .card-info span {
        color: var(--text-color-ccc);
    }

    .options {
        /* border: 1px solid black; */
        margin-top: 0.87rem;
    }

    .card-info-btn {
        margin-top: 0.87rem;
        display: flex;
        justify-content: space-between;
    }

    .item-call-number,
    .item-call-whatsapp {
        background: none;
        width: 49%;
        height: 3.75rem;
        padding: 0;
        margin-top: 0;
        border: none;
        /* width: 50%; */
    }
    
    .item-call-number button {
        background-color: #8767CA;
        color: white;
        font-family: sans;
        font-size: var(--font-size-20);
        font-weight: 700;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        height: 100%;
        transition: 0.2s;
    }

    .item-call-number button:hover {
        background-color: white;
        border: 2px solid #8767CA;
        color: #8767CA;
    }

    .item-call-whatsapp button {
        width: 100%;
        height: 100%;
        border: 2px solid #8767CA;
        background-color: white;
        color: #8767CA;
        border-radius: 0.5rem;
        font-size: var(--font-size-20);
        transition: 0.2s;
    }

    .item-call-whatsapp button:hover {
        background-color: #8767CA;
        color: white;

    }

    .item-call-mark {
        /* border: 1px solid black; */
        display: grid;
        width: max-content;
        position: fixed;
        width: 2.18rem;
        height: 6.56rem;
        grid-row-gap: 0px;
        right: -0.31rem;
        top: 30%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: white;
        z-index: 3;
        box-shadow: -2px 0px 0.62rem #ccc;
    }

    /* info */

    .footer{
        display: none;
    }
    .footer-res{
        display: block;
    }
    .footer-res p{
        text-align: center;
        font-family: sans;
        font-size: var(--font-size-14);
        color: var(--text-color-ccc);
    }
    /* footer */
}
@media only screen and (max-width:1000px){
    .header-btns, .list-header{
        display: none;
    }
    
    .list-menu-res{
        border-bottom: 1px solid var(--btn-bg-ccc2);
        width: 92%;
        margin: 1rem 1rem;
    }
    .list-menu-res a{
        font-family: sans;
        color: var(--text-color-ccc);
        font-size: var(--font-size-14);
    }
    .box-ap{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 0.5rem;
    }
}

@media only screen and (max-width:680px) {
    .slider{
        height: 20rem;
    }
    #list{
        height: 0.93rem;
    }
    .overlay-content ul{
        width: 94%;
    }
    .overlay a {
        width: 94%;
    }
    .direction button{
        margin-top: -8rem;
    }
    .item-proposal {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:500px) {
    .item-proposal {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:440px) {
    .slider{
        height: 15rem;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 2.18rem !important;
    }

    .mistake {
        display: none;
    }

    .carousel-item img {
        height: 18.75rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-top: 6.25rem;
    }

    .options {
        width: 100%;
        margin: 1.5rem 0px 0px 0px;
    }

    .it-option {
        width: 40%;
        padding-right: 1rem;
    }

    .card-option {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 0;
        grid-row-gap: 2.5rem;
        grid-column-gap: 1.25rem;
    }

    .option-flex {
        display: grid;
    }

    #toggleButton {
        width: 100%;
        height: 3.12rem;
        font-family: sans;
        border: 2px solid #8767CA;
        background-color: white;
        color: #8767CA;
        border-radius: 0.5rem;
        font-size: var(--font-size-20);
    }

    .card-info-btn {
        position: sticky;
        background-color: var(--bg-color-white) !important;
        padding: 0.62rem 0;
        margin-top: 0.87rem;
        bottom: 0;
        top: -6.25rem;
        width: 100%;
        z-index: 3;
    }
    
}
@media only screen and (max-width:350px) {
    .item-proposal {
        grid-template-columns: 1fr;
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}