@import url(../css/root.css);
@font-face {
    font-family: sans;
    src: url(../font/IRANSans.ttf);
}

body{
    margin: 0;
}
.c-header{
    /* border: 1px solid var(--border-color-black); */
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    max-width: 88rem;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--border-color-black);
}
.profile-hesder{
    /* border: 1px solid var(--border-color-black); */
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.profile-hesder img{
    width: 100%;
    height: 100%;
}
.logo{
    /* border: 1px solid var(--border-color-black); */
    width: 7rem;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}
/*  */
.header-list{
    /* border: 1px solid var(--border-color-black); */
    max-width: 88rem;
    margin: 0 auto 1rem;
}
.header-list ul{
    grid-gap: 1rem;
    display: flex;
    margin: 0;
    padding: 0;
}
.header-list ul li{
    color: var(--text-color-ccc);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: sans;
    font-size: var(--font-size-16);
    border-radius: 0.4rem;
    list-style: none;
}
.header-list ul li a{
    text-decoration: none;
    color: var(--text-color-ccc);
}
.header-list ul li:hover{
    background: var(--bg-color-purple-2);
}
.on-page{
    /* border: 1px solid var(--border-color-black); */
    box-shadow: 0 0 0.5rem var(--border-color-ccc);
    background: var(--btn-bg-purple) !important;
    color: var(--text-color-white) !important;
}
/*  */
.modal{
    /* border: 1px solid var(--border-color-black); */
    box-shadow: 0 0 0.5rem var(--border-color-ccc);
    border-radius: 0.4rem;
    width: 12rem;
    position: absolute;
    display: none;
    margin: 3.2rem 1rem 0;
    padding: 0.3rem;
    background: var(--bg-color-white);
}
.profile{
    display: flex;
    border-bottom: 0.06rem solid var(--border-color-ccc);
}
.profile-img{
    padding: 0.3rem 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    /* border: 1px solid var(--border-color-black); */
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-name{
    /* border: 1px solid var(--border-color-black); */
}
.profile-name p{
    font-family: sans;
    font-size: var(--font-size-16);
    margin: 0;
}
.profile-name span{
    font-family: sans;
    font-size: var(--font-size-14);
    color: var(--text-color-ccc);
    margin: 0;
}
.modal-list{
    margin: 0.5rem 0;
}
.modal-list-ul-one{
    border-bottom: 0.06rem solid var(--border-color-black);
    margin: 0;
    padding: 0 0 0.5rem;
    display: grid;
    grid-gap: 0.3rem;
}
.modal-list li{
    /* border: 1px solid var(--border-color-black); */
    color: var(--text-color-ccc);
    display: flex;
    cursor: pointer;
    font-family: sans;
    padding: 0.5rem;    
    border-radius: 0.4rem;
}
.modal-list li a{
    text-decoration: none;
    color: var(--text-color-ccc);
}
.modal-list li:hover{
    background: var(--bg-color-purple-2);
}
.modal-list p{
    font-size: var(--font-size-14);
    margin: -0.1rem 0.5rem 0;
}
.modal-list-ul-two{
    border-bottom: 0.06rem solid var(--border-color-black);
    margin: 0;
    padding: 0.5rem 0;
    display: grid;
    grid-gap: 0.3rem;
}
.modal-list-ul-three{
    border: none;
    margin: 0;
    padding: 0.5rem 0 0;
    display: grid;
    grid-gap: 0.3rem;
}


.c-main{
    border: 1px solid var(--bg-color-purple-2);
    background: var(--bg-color-purple-2);
    height: 34rem;
    padding: 0 1rem;
    overflow-y: scroll;
}
.c-main::-webkit-scrollbar{
    display: none;
}
.main{
    max-width: 88rem;
    margin: 2rem auto;
    background: var(--bg-color-white);
    border-radius: 0.4rem;
    box-shadow: 0 0 0.2rem var(--border-color-ccc);
    display: grid;
    flex-wrap: wrap;
    /* border: 1px solid var(--border-color-black); */
}
.item-proposal {
    display: flex;
    margin: 0 1rem 1rem;
    flex-wrap: wrap;
    grid-gap: 1.25rem;
}

.main h2{
    margin: 1rem;
    font-family: sans;
    font-weight: bold;
    font-size: var(--font-size-16);
    color: var(--text-color-ccc);
}
.it-proposal {
    /* border: 1px solid black; */
    width: 10rem;
    background-image: url(../image/Arrow\ -\ Left.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: bottom left;
}

.img-ads {
    width: 100%;
}

.it-proposal p {
    margin-top: 0.5rem;
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 700;
}

.it-proposal h5 {
    font-family: sans;
    font-size: var(--font-size-14);
    font-weight: 500;
    margin: 0;
    direction: rtl;
    color: var(--text-color-black);
}

@media only screen and (max-width:410px){
    .it-proposal {
        width: 100%;
    }
}

@media only screen and (max-width:560px){
    .header-list ul{
        grid-gap: 1rem;
        display: block;
    }

}

